<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                My First App
            </a>
        </div>

        <ul class="nav navbar-nav">
        <%if (!session.email) { %>
                    <li><a href="/signup">Sign UP</a></li>
                    <li><a href="/login">Login</a></li>
        <% } %>
        <%if (session.email) { %>
                    <li><a href="/channel">Create Channel</a></li>
                    <li><a href="/subscribe">Subscribe</a></li>
              <!--      <li><a href="/notifications">Notifications</a></li> -->
                    <li><a href="/post">Post</a></li>
        <% } %>
        </ul>
      
    </div>
</nav>